<p id="notice"><%= notice %></p>

<h1>Listing German Aircrafts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Designation</th>
      <th>Description</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @german_aircrafts.each do |german_aircraft| %>
      <tr>
        <td><%= german_aircraft.name %></td>
        <td><%= german_aircraft.designation %></td>
        <td><%= german_aircraft.description %></td>
        <td><%= german_aircraft.content %></td>
        <td><%= link_to 'Show', german_aircraft %></td>
        <td><%= link_to 'Edit', edit_german_aircraft_path(german_aircraft) %></td>
        <td><%= link_to 'Destroy', german_aircraft, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New German aircraft', new_german_aircraft_path %>
