<p id="notice"><%= notice %></p>

<h1>Listing German Units</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Designation</th>
      <th>Description</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @german_units.each do |german_unit| %>
      <tr>
        <td><%= german_unit.name %></td>
        <td><%= german_unit.designation %></td>
        <td><%= german_unit.description %></td>
        <td><%= german_unit.content %></td>
        <td><%= link_to 'Show', german_unit %></td>
        <td><%= link_to 'Edit', edit_german_unit_path(german_unit) %></td>
        <td><%= link_to 'Destroy', german_unit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New German unit', new_german_unit_path %>
<br>
<%= link_to 'Back', countries_path %>
