<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @country.name %>
</p>

<p>
  <strong>Total strength:</strong>
  <%= @country.total_strength %>
</p>

<p>
  <strong>Aircraft:</strong>
  <%= @country.aircraft %>
</p>

<p>
  <strong>Armored vehicles:</strong>
  <%= @country.armored_vehicles %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
<br>
<%= link_to 'German Armored Vehicles', german_armors_path %>
<br>
<%= link_to 'German Aircraft', german_aircrafts_path %>

