<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @unit.name %>
</p>

<p>
  <strong>Designation:</strong>
  <%= @unit.designation %>
</p>

<p>
  <strong>Weapons used:</strong>
  <%= @unit.weapons_used %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @unit.strength %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
